#about-us #title-team {
  text-align: center;
  margin: 4em 0 2em 0;
  font-weight: 500;
}
#about-us #about-us p {
  font-size: large;
  text-align: justify;
  text-justify: inter-word;
  padding: 0 1em;
}
#about-us #about-us span {
  text-transform: uppercase;
  font-weight: 600;
}
#about-us #discoverArtist {
  text-align: center;
  margin: 4em 0 1em 0;
  font-weight: 500;
}
#about-us .center-button {
  display: flex;
  justify-content: center;
}
#about-us .center-button #artistes {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  width: 8em;
  height: 1.5em;
  background-image: linear-gradient(to right, #E19F3C, #FB7616, #FE6B00);
  border-radius: 3em;
  color: #130F0F;
  margin-bottom: 2em;
}
#about-us #fire-jam {
  background-image: url(../img/fire-jam-cropped.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-us #fire-jam p {
  color: white;
  font-size: 1em;
}
#about-us #fire-jam #paragraph-one {
  display: inline-block;
  margin-top: 2em;
  margin-right: 18em;
}
#about-us #fire-jam #paragraph-one-one {
  margin-right: 15em;
}
#about-us #fire-jam #paragraph-one-two {
  margin-right: 18em;
}
#about-us #fire-jam #paragraph-two {
  margin: 25em 0em 0em 15em;
}
#about-us #fire-jam #paragraph-two-one {
  display: inline-block;
  margin-left: 16em;
}
#about-us #fire-jam #paragraph-two-two {
  margin-left: 17em;
}
#about-us #fire-jam #paragraph-three {
  margin-right: 16em;
}
#about-us #fire-jam #paragraph-three-one {
  margin-right: 17em;
}
#about-us #fire-jam #paragraph-three-two {
  margin-right: 16em;
}
#about-us #fire-jam .center-button {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
#about-us #fire-jam .center-button #adhesion-button {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  width: 8em;
  height: 1.5em;
  background-image: linear-gradient(to right, #E19F3C, #FB7616, #FE6B00);
  border-radius: 3em;
  color: #130F0F;
  margin: 3em 0 2em 0;
}

@media screen and (min-width: 600px) {
  #about-us {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
  }
  #about-us #fire-team {
    width: 50%;
    padding: 1em;
  }
  #about-us #fire-team .center-button {
    border: 1px solid red;
  }
  #about-us #fire-team .center-button #artistes {
    margin: 2em 0 2em 0;
  }
  #about-us #fire-jam {
    width: 50%;
  }
  #about-us #fire-jam #paragraph-one {
    display: inline-block;
    margin-top: 2em;
  }
  #about-us #fire-jam #paragraph-one-one {
    margin-left: 2em;
  }
  #about-us #fire-jam #paragraph-one-two {
    margin-left: 1em;
  }
  #about-us #fire-jam #paragraph-two {
    margin: 15em 0em 0em 15em;
  }
  #about-us #fire-jam #paragraph-two-one {
    display: inline-block;
    margin-left: 16em;
  }
  #about-us #fire-jam #paragraph-two-two {
    margin-left: 15em;
  }
  #about-us #fire-jam .center-button #adhesion-button {
    margin: 9em 0 2em 0;
  }
}
@media screen and (min-width: 900px) {
  #about-us #fire-jam #fire-jam-paragraph-container {
    padding: 2em;
  }
  #about-us #fire-jam .center-button #adhesion-button {
    margin: 5em 0 2em 0;
  }
}
@media screen and (min-width: 1200px) {
  #about-us #fire-jam .center-button #adhesion-button {
    margin: 2em 0 3em 0;
  }
}/*# sourceMappingURL=about-us.css.map */