#title-team {

    text-align: center;
    margin: 4em 0 2em 0;
    font-weight: 500;
}

#about-us p {
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 1em;

}

#about-us span {
    text-transform: uppercase;
    font-weight: 600;
}

#discoverArtist {

    text-align: center;
    margin: 4em 0 1em 0;
    font-weight: 500;
}

#center {

    display: flex;
    justify-content: center;
}

#artistes {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;

    text-align: center;
    border: 1px solid red;
    width: 8em;
    height: 1.5em;
    background-image: linear-gradient(to right, #E19F3C, #FB7616, #FE6B00);
    border-radius: 3em;
    color: #130F0F;
    margin-bottom: 2em;
}

#fire-jam {
    background-image: url(../img/fire-jam-cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}


#fire-jam p {
    color: white;
    font-size: 1em;

}

#paragraph-one {
    display: inline-block;
    margin-top: 2em;
}

#paragraph-one-one {
    margin-left: 2em;
}

#paragraph-one-two {
    margin-left: 1em;

}

#paragraph-two {
    margin: 15em 0em 0em 15em;
}

#paragraph-two-one {
    display: inline-block;
    margin-left: 16em;
}

#paragraph-two-two {
    margin-left: 15em;
}




#adhesion-button {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    width: 8em;
    height: 1.5em;
    background-image: linear-gradient(to right, #E19F3C, #FB7616, #FE6B00);
    border-radius: 3em;
    color: #130F0F;
    margin: 1.5em 0 2em 0;

}