#about-us #title-team {
  text-align: center;
  margin: 4em 0 2em 0;
  font-weight: 500;
}
#about-us p {
  font-size: 1em;
  text-align: justify;
  text-justify: inter-word;
  padding: 0 1em;
  font-weight: 700;
}
#about-us p span {
  text-transform: uppercase;
  font-weight: 800;
}
#about-us #discoverArtist {
  text-align: center;
  margin: 4em 0 1em 0;
  font-weight: 500;
}
#about-us .center-button {
  display: flex;
  justify-content: center;
}
#about-us .center-button .prop-group-button {
  display: none;
}
#about-us .center-button #prop-button {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  width: 8em;
  height: 1.5em;
  background-image: linear-gradient(to right, #E19F3C, #FB7616, #FE6B00);
  border-radius: 3em;
  color: #130F0F;
  margin-bottom: 2em;
}
#about-us #fire-jam {
  font-family: "Kanit", sans-serif;
  background-image: url(../img/fire-jam-cropped.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1em;
}
#about-us #fire-jam #fire-jam-paragraph-first-container {
  margin-left: -6em;
  margin-top: 3em;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#about-us #fire-jam #fire-jam-paragraph-first-container #paragraph-one {
  margin-left: 1em;
}
#about-us #fire-jam #fire-jam-paragraph-first-container #paragraph-one-one {
  margin-left: 2em;
}
#about-us #fire-jam #fire-jam-paragraph-first-container #paragraph-one-two {
  margin-left: 1.5em;
}
#about-us #fire-jam #fire-jam-paragraph-second-container {
  margin-top: 20em;
  margin-right: -6em;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#about-us #fire-jam #fire-jam-paragraph-second-container #paragraph-two {
  margin-right: 1em;
}
#about-us #fire-jam #fire-jam-paragraph-second-container #paragraph-two-one {
  margin-right: 1em;
}
#about-us #fire-jam #fire-jam-paragraph-second-container #paragraph-two-two {
  margin-left: 1em;
}
#about-us #fire-jam #fire-jam-paragraph-third-container {
  margin-top: 3em;
  margin-left: -6em;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#about-us #fire-jam #fire-jam-paragraph-third-container #paragraph-three {
  margin-left: 1em;
}
#about-us #fire-jam #fire-jam-paragraph-third-container #paragraph-three-one {
  margin-left: 2em;
}
#about-us #fire-jam #fire-jam-paragraph-third-container #paragraph-three-two {
  margin-left: 2em;
}
#about-us #fire-jam .center-button {
  display: flex;
  justify-content: space-between;
}
#about-us #fire-jam .center-button #adhesion-button {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  width: 8em;
  height: 1.5em;
  background-image: linear-gradient(to right, #E19F3C, #FB7616, #FE6B00);
  border-radius: 3em;
  color: #130F0F;
  margin: 3em 0 2em 0;
}

@media screen and (min-width: 900px) {
  #about-us {
    display: flex;
    flex-direction: row;
  }
  #about-us p {
    font-weight: 800;
    font-size: 1.5em;
  }
  #about-us p span {
    font-weight: 900;
  }
  #about-us #fire-team {
    width: 50%;
  }
  #about-us #fire-team #title-team {
    font-size: 1.5em;
    font-weight: 700;
  }
  #about-us #fire-team .center-button #prop-button {
    display: none;
  }
  #about-us #fire-jam {
    width: 50%;
  }
  #about-us #fire-jam #fire-jam-paragraph-container {
    padding: 2em;
  }
  #about-us #fire-jam .center-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  #about-us #fire-jam .center-button #adhesion-button {
    margin-right: 7em;
  }
  #about-us #fire-jam .center-button .prop-group-button {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    width: 8em;
    height: 1.5em;
    background-image: linear-gradient(to right, #E19F3C, #FB7616, #FE6B00);
    border-radius: 3em;
    color: #130F0F;
    margin-left: -14em;
    margin-top: 1.4em;
  }
}
@media screen and (min-width: 1100px) {
  #about-us #discoverArtist {
    margin-top: 0.7em;
  }
  #about-us #fire-jam #fire-jam-paragraph-second-container {
    margin-top: 11em;
  }
  #about-us #fire-jam #fire-jam-paragraph-second-container #paragraph-two {
    margin-right: -0.7em;
  }
  #about-us #fire-jam #fire-jam-paragraph-second-container #paragraph-two-one {
    margin-right: -1em;
  }
  #about-us #fire-jam #fire-jam-paragraph-second-container #paragraph-two-two {
    margin-right: -2em;
  }
  #about-us #fire-jam #fire-jam-paragraph-third-container {
    margin-top: 0;
  }
  #about-us #fire-jam #fire-jam-paragraph-third-container #paragraph-three {
    margin-left: -1em;
  }
  #about-us #fire-jam #fire-jam-paragraph-third-container #paragraph-three-one {
    margin-left: -1em;
  }
  #about-us #fire-jam #fire-jam-paragraph-third-container #paragraph-three-two {
    margin-left: -2em;
  }
  #about-us #fire-jam .center-button .prop-group-button {
    margin-left: -17em;
  }
}
@media screen and (min-width: 1300px) {
  #about-us {
    height: 700px;
  }
  #about-us #title-team {
    font-size: 2em;
  }
  #about-us #discoverArtist {
    margin-top: 1em;
    font-size: 2em;
  }
  #about-us #fire-jam .center-button #adhesion-button {
    width: 10em;
    height: 2em;
    padding-top: 20px;
    margin-right: 9em;
  }
  #about-us #fire-jam .center-button .prop-group-button {
    padding-top: 20px;
    width: 10em;
    height: 2em;
    margin-left: -19em;
  }
}
@media screen and (min-width: 1400px) {
  #about-us #fire-jam .center-button {
    margin-right: 15em;
  }
  #about-us #fire-jam .center-button .prop-group-button {
    margin-left: -25em;
  }
}
@media screen and (min-width: 1650px) {
  #about-us #fire-jam .center-button {
    margin-right: 17em;
    border: 1px solid red;
  }
  #about-us #fire-jam .center-button .prop-group-button {
    margin-left: -35em;
    border: 1px solid red;
  }
}
@media screen and (min-width: 1800px) {
  #about-us #fire-jam .center-button {
    margin-right: 20em;
  }
  #about-us #fire-jam .center-button .prop-group-button {
    margin-left: -40em;
  }
}/*# sourceMappingURL=about-us.css.map */