#actualite {

    background-color: #130F0F;
    color: #943AAB;
}

#center2 {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

#title-actu-1 {
    text-align: center;
    padding: 1em;
    font-weight: 400;
    font-size: 3em;
}

#poster-img {
    border: 1px solid red;
    display: block;
    margin: auto;
    width: 70%;

}

#title-actu-2 {
    display: none;
}

#actualite p {

    text-align: center;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

#p-actu {
    padding: 1em;
}

#event-button {
    padding-top: 10px;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 450;
    text-decoration: none;
    text-align: center;
    border: 1px solid red;
    width: 10em;
    height: 2em;
    background-image: linear-gradient(to right, #EECC68, #FE6B00, #943AAB);
    border-radius: 3em;
    color: #130F0F;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

#contact-us {
    background-image: url(../img/fire-background-780-900.avif);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

    height: 500px;
}

#presta {

    background-color: #130F0F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 10em;

}