#add-prop {
    background-image: linear-gradient(to right, #000000, #000000, #341701, #903E02, #FE6B00);
    color: white;
    padding: 1em;
    font-weight: 100;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .add-prop-title {
        margin: 2em;
        font-family: "Kanit", sans-serif;

    }

    #add-prop-form {
        width: 70%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        border: 1px solid #341701;
        border-radius: 20px;
        margin: 1em;

        input {
            border-radius: 10px;

        }

        #validateProp {
            border-radius: 10px;
            width: 100px;
            background-color: white;
            border: none;
            padding: 0.2em;
            font-weight: 100;
            font-size: 0.7em;
        }
    }

    #table-container {
        padding: 1em;
        overflow-x: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid white;

            tr {
                border: 1px solid white;
            }

            th,
            td {
                border: 1px solid white;

                a {
                    // color: white;
                    font-weight: 500;
                    text-decoration: none;
                }

                a::after {
                    color: rgb(89, 89, 249);
                }
            }
        }

    }
}