#adhesion-section {
    text-align: center;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #adhesion-title-container {
        padding: 2em;
        width: 100%;
        margin: 4em;
        background-color: #130F0F;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        #adhesion-title {
            font-size: 2em;
            padding: 1em;
        }

        p {
            font-size: 1.5em;
        }
    }

    #adhesion-form {
        border: 1px solid #341701;
        background-image: linear-gradient(to right, #000000, #000000, #341701, #903E02, #FE6B00);
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 2em;
        gap: 1em;
        margin-bottom: 2em;

        #info-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }

        .input-box {
            width: 45%;
            height: 20px;
            border-radius: 10px;
            margin-left: 1em;
        }

        #name-label {
            margin-left: -1.4em;
        }

        #phone-label {
            margin-left: -2.1em;
        }

        #prop-type {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1em;

            .prop-input {
                margin-left: 0;
            }
        }

        #other-label {
            margin-left: -2.2em;
        }
    }

    #validateAdhesion {
        border-radius: 10px;
        width: 100px;
        background-color: white;
        border: none;
        padding: 0.2em;
        font-weight: 100;
    }
}

@media screen and (min-width:950px) {
    #adhesion-section {
        #adhesion-title-container {
            /*    width: 100%;
            margin: 4em;
            background-color: #130F0F;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center; */

            #adhesion-title {
                font-size: 3em;
            }

            p {
                //width: 50%;
                font-size: 2em;
            }
        }

        #adhesion-form {
            width: 50%;
            font-size: 1.2em;

            #info-container {
                //width: 50%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2em;
                justify-content: space-between;
            }

            #validateAdhesion {
                width: 150px;
                border-radius: 20px;
                font-weight: 200;
                font-size: 1em;
            }
        }
    }
}