#contact-us {
    background-image: url(../../asset/img/fire-background-780-900.avif);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;


    #performance {
        padding: 10px;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;
        height: 10em;
        //Might remove
        width: 100%;
        font-size: 0.8em;

        #second-performance-title {
            display: none;
        }

        #contact-button {
            display: inline-block;
            font-size: 1.2em;
            text-decoration: none;
            text-align: center;
            width: 8em;
            height: 1.5em;
            background-image: linear-gradient(to right, #1D6D9A, #EECC68);
            border-radius: 3em;
            color: #130F0F;
            margin: 1.5em 0 2em 0;
        }
    }
}

#event {
    padding: 20px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    /*     gap: 20px;*/
    color: white;
    height: 10em;
    font-size: 0.8em;


    #event-photo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .event-photo {
            /*        width: 30%;
            height: 80%; */
            width: 80px;
            height: 80px;
        }

    }
}

#street {
    background-color: #000000;
    background-image: url(../../asset/img/bg-fire-breathing-780x650.avif);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;


    #street-art {
        padding: 20px;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 10em;
        font-size: 0.8em;
        //Might remove
        width: 100%;

        #street-art-photo-container {
            display: flex;
            gap: 20px;

            .street-art-photo {
                /*      width: 30%;
                height: 80%; */
                width: 80px;
                height: 80px;
            }
        }

        #street-art-paragraph-container {
            padding: 20px;

            p {
                display: inline-block;
                width: 100px;

            }
        }
    }
}

@media screen and (min-width:800px) {
    #contact-us {
        background-color: #000000;
        background-image: url(../../asset/img/fire-background.avif);
        background-repeat: no-repeat;
        background-position: center;
        height: 800px;
        //
        width: 100%;

        #performance {
            height: 400px;
            font-size: 1.5em;
            gap: 2em;

            #first-performance-title {
                display: none;
                /*          font-size: 2em;
                margin-left: 0;
                font-weight: 300; */
            }

            #second-performance-title {
                display: inline-block;
                font-size: 2em;
                margin-left: 0;
                // margin-top: -2em;
                font-weight: 300;
            }

            p {
                width: 500px;
            }


        }
    }

    #event {
        height: 400px;
        font-size: 1.5em;

        #event-paragraph-container {
            margin-left: 2em;
            width: 300px;
        }

        #event-photo-container {
            .event-photo {
                width: 300px;
                height: 300px;
                /*     width: 40%;
                height: 80%; */

            }

        }
    }

    #street {
        background-image: url(../../asset/img/bg-fire-breathing.avif);
        background-repeat: no-repeat;
        background-position: center;
        height: 800px;
        //
        width: 100%;


        #street-art {
            height: 400px;
            font-size: 1.5em;

            #street-art-photo-container {

                .street-art-photo {
                    /*      width: 40%;
                    height: 80%;
 */
                    width: 400px;
                    height: 400px;
                }
            }

            #street-art-paragraph-container {
                margin-right: 2em;

                p {
                    width: 300px;
                }
            }
        }
    }
}

/*# sourceMappingURL=actualite.css.map */