#contact {
  background-image: linear-gradient(to right, #000000, #000000, #341701, #903E02, #FE6B00);
  text-align: center;
}
#contact #contactTitle {
  color: white;
  padding: 2em;
  font-size: 2em;
  font-family: "Kanit", sans-serif;
}
#contact #contact-form {
  background-image: linear-gradient(to right, #000000, #000000, #341701, #903E02, #FE6B00);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact #contact-form #nameContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  gap: 10px;
}
#contact #contact-form #nameContainer label {
  width: 100px;
}
#contact #contact-form #nameContainer input {
  width: 45%;
  height: 20px;
  border-radius: 10px;
}
#contact #contact-form #emailPhoneContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  gap: 10px;
}
#contact #contact-form #emailPhoneContainer label {
  width: 100px;
}
#contact #contact-form #emailPhoneContainer input {
  width: 45%;
  height: 20px;
  border-radius: 10px;
}
#contact #contact-form #messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em;
}
#contact #contact-form #messageContainer #questionChoice {
  border-radius: 10px;
  text-align: center;
  background-color: white;
  border: none;
  padding: 0.3em;
  font-weight: 100;
}
#contact #contact-form #messageContainer #contactMessage {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
}
#contact #contact-form #validateContact {
  border-radius: 10px;
  width: 100px;
  background-color: white;
  border: none;
  padding: 0.2em;
  font-weight: 100;
  margin: 2em;
}

@media screen and (min-width: 650px) {
  #contact #contact-form #nameContainer {
    width: 400px;
  }
  #contact #contact-form #nameContainer label {
    width: 150px;
  }
  #contact #contact-form #nameContainer input {
    width: 150px;
    height: 30px;
    border-radius: 20px;
  }
  #contact #contact-form #emailPhoneContainer {
    width: 400px;
  }
  #contact #contact-form #emailPhoneContainer label {
    width: 150px;
  }
  #contact #contact-form #emailPhoneContainer input {
    width: 150px;
    height: 30px;
    border-radius: 20px;
  }
  #contact #contact-form #messageContainer {
    margin: 1em;
  }
  #contact #contact-form #messageContainer #questionChoice {
    width: 200px;
  }
  #contact #contact-form #messageContainer #contactMessage {
    border-radius: 20px;
    width: 450px;
    height: 300px;
  }
  #contact #validateContact {
    width: 150px;
  }
}
@media screen and (min-width: 1000px) {
  #contact #contactTitle {
    font-size: 3em;
  }
  #contact #contact-form #nameContainer {
    width: 600px;
  }
  #contact #contact-form #nameContainer label {
    width: 200px;
  }
  #contact #contact-form #nameContainer input {
    width: 200px;
  }
  #contact #contact-form #emailPhoneContainer {
    width: 600px;
  }
  #contact #contact-form #emailPhoneContainer label {
    width: 200px;
  }
  #contact #contact-form #emailPhoneContainer input {
    width: 200px;
  }
  #contact #contact-form #messageContainer #contactMessage {
    border-radius: 20px;
    width: 550px;
    height: 400px;
  }
  #contact #contact-form #validateContact {
    width: 200px;
    height: 30px;
    border-radius: 30px;
  }
}/*# sourceMappingURL=contact-form.css.map */