#discussion {
    background-image: linear-gradient(to right, #000000, #000000, #341701, #903E02, #FE6B00);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;

    a {
        font-size: 1em;
        text-decoration: none;
        color: lightblue;
        margin: 1em;
    }

    a::after {
        color: lightblue;
    }

    #discussion-detail-container {
        background-color: black;
        padding: 2em;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 1em;

    }

    #comment-container {
        //  padding: 2em;
        border: 1px solid #341701;
        border-radius: 20px;


        #comment-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

    }

    #leave-comment-container {
        padding: 2em;
        width: 60%;
        border: 1px solid #341701;
        border-radius: 20px;

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1em;


            input {
                width: 100px;
                height: 50px;
            }
        }
    }
}

@media screen and (min-width:950px) {
    #discussion {
        padding: 4em;

        #discussion-detail-container {
            font-size: 1.5em;
            padding: 5em;


            #discussion-title {
                font-size: 1.5em;
            }

            #text-photo-container {
                display: flex;
            }
        }

        h2 {
            font-size: 3em;
            text-align: center;
            padding: 1em;
        }

        #comment-container {
            margin-left: 5em;
            width: 50%;
            font-size: 1.5em;

            #comment-content {


                img {
                    width: 100px;
                    height: 100px;

                }
            }

        }

        #leave-comment-container {
            margin-left: 5em;
            font-size: 1.5em;
            width: 40%;

            form {

                input {
                    width: 300px;
                    height: 100px;
                }
            }
        }


    }
}