header {
    display: flex;
    justify-content: space-between;
    background-color: #130F0F;
    color: white;
    font-size: 1.1em;
    padding: 1em;

    #flash-message-header {
        display: flex;
        align-items: center;
        justify-content: center;

        #info-message {
            color: white;
            font-weight: bold;
        }

        #error-message {
            color: white;
            font-weight: bold;
        }
    }


    #full-logo-small {
        margin: 1em;
        width: 5em;
        height: 4em;

    }

    #logo {
        padding: 1em;
        margin-right: -15em;
        right: 0;
        width: 5em;
        height: 3.5em;
    }







    #menuBar {
        display: flex;
        justify-content: end;
        flex-direction: column;
        color: white;
        font-size: 1.1em;


        #menu {
            display: none;
            font-size: 0.7em;
            // display: flex;
            //  gap: 1em;
            list-style-type: none;
            justify-content: space-between;
            align-items: flex-start;
            gap: 0.5em;

            a {
                text-decoration: none;
                color: white;

            }

            a::after {
                color: white;
            }

        }



        #menu-mobile {
            //  display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            gap: 1em;
            padding: 1em;
            list-style: none;
            background-color: #000000;
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            width: 150px;
            height: 100vh;
            z-index: 1000;
            transition: right 0.5s ease;

            a {
                text-align: center;
                text-decoration: none;
                color: white;

            }

            a::after {
                color: white;
            }
        }


        #avatar-container {
            // height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;


            .logout {
                width: 50%;
            }

            #ffm-man {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                margin-bottom: 0;
            }
        }

    }


}

.active {

    margin-left: -40px;

}




.sticky {
    position: fixed;
    top: 0;
    width: 98%;
    border: 1px solid rgb(49, 48, 48);
    height: 110px;
    padding: 1em;
    //position: sticky;
    z-index: 500;
    /* Ensure the navbar is above other content */

}

#accueil {

    background-image: url(../../asset/img/photo-accueil-780-900.avif);
    background-repeat: no-repeat;
    background-position: center;


    #title-container {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        gap: 1em;

        #FFM {

            -webkit-text-stroke: 1px #f3660062;
            font-weight: 300;
            font-size: 1.5em;
            font-family: "Kantumruy Pro", sans-serif;
            color: #ffa743;
            padding-top: 2em;

        }


        #title-description {
            -webkit-text-stroke: 1px #f3660062;
            font-weight: 300;
            font-size: 0.9em;
            font-family: "Kantumruy Pro", sans-serif;
            color: #ffa743;
            padding-right: 2em;

        }
    }
}

.arrow {

    display: flex;
    justify-content: center;
    margin-top: 25em;


    #logo-arrow {
        // border: 1px solid red;
        width: 3em;
        height: 3em;

    }
}




@media screen and (min-width:600px) {

    header {
        #menuBar {
            flex-direction: row;

            #menu {
                display: flex;
                justify-content: space-between;
                gap: 1em;
                list-style-type: none;
                font-size: 1em;
            }
        }

        #menuBar li {
            margin-top: 4em;
            align-items: center;
        }

        #ffm-man {
            margin-top: -2em;
            width: 4em;
            height: 5em;

        }

        #logo {
            display: none;
        }
    }

    #accueil {
        background-color: #000000;
        background-image: url(../../asset/img/photo-accueil-2000.avif);
        background-repeat: no-repeat;
        background-position: center;


        /* 
        #title-container {
            padding: 3em;

            #FFM {

                font-size: 3em;
            }

            #title-description {

                font-size: 2em;
            }
        }
 */
        .arrow {
            margin-top: 46em;
        }
    }


}



@media screen and (min-width:800px) {

    #accueil {


        #title-container {
            padding: 3em;

            #FFM {

                font-size: 3em;
            }

            #title-description {

                font-size: 2em;
            }
        }


    }
}