#accueil {
  background-image: url(../../asset/img/photo-accueil-780-900.avif);
  background-repeat: no-repeat;
  background-position: center;
}

/* Styliser la photo background en dur */
/* #image-accueil{
    width: 500px;
    height:600px;

} */
#full-logo {
  display: none;
  width: 6em;
  height: 4em;
  margin-bottom: 8em;
}

#title-container {
  padding: 4em 1em 0 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1em;
}
#title-container #FFM {
  -webkit-text-stroke: 1px rgba(243, 102, 0, 0.3843137255);
  font-weight: 300;
  font-size: 1.5em;
  font-family: "Kantumruy Pro", sans-serif;
  color: #ffa743;
}
#title-container #title-description {
  -webkit-text-stroke: 1px rgba(243, 102, 0, 0.3843137255);
  font-weight: 300;
  font-size: 0.9em;
  font-family: "Kantumruy Pro", sans-serif;
  color: #ffa743;
}

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 25em;
}

#logo-arrow {
  width: 3em;
  height: 3em;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #130F0F;
  color: white;
  font-size: 1.1em;
}
header #flash-message-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header #flash-message-header #info-message {
  color: white;
  font-weight: bold;
}
header #flash-message-header #error-message {
  color: white;
  font-weight: bold;
}

#full-logo-small {
  margin: 1em;
  width: 5em;
  height: 4em;
}

#logo {
  margin: 1.5em 0 0 10em;
  width: 5em;
  height: 3.5em;
}

.menuColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  list-style-type: none;
}

#menuBar {
  color: white;
  font-size: 1.1em;
}
#menuBar a {
  text-decoration: none;
  color: white;
}
#menuBar a::after {
  color: white;
}
#menuBar ul {
  display: none;
}
#menuBar #avatar-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#menuBar #avatar-container .logout {
  width: 50%;
}
#menuBar #avatar-container #ffm-man {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  height: 150px;
}

@media screen and (min-width: 600px) {
  #accueil {
    background-color: #000000;
    background-image: url(../../asset/img/photo-accueil-2000.avif);
    background-repeat: no-repeat;
    background-position: center;
  }
  #accueil #full-logo {
    display: inline-block;
    width: 6em;
    height: 4em;
    margin-bottom: 8em;
  }
  #accueil #title-container {
    padding: 2em;
  }
  #accueil #title-container #FFM {
    /*         margin-top: 5em;
    margin-left: 15em;
    font-size: 2em; */
    font-size: 3em;
  }
  #accueil #title-container #title-description {
    /*         margin-left: 13em;
    font-size: 2em; */
    font-size: 2em;
  }
  #accueil .arrow {
    margin-top: 46em;
  }
  #menuBar ul {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    list-style-type: none;
  }
  #menuBar li {
    margin-top: 4em;
    align-items: center;
  }
  #ffm-man {
    margin-top: -2em;
    width: 4em;
    height: 5em;
  }
  #logo {
    display: none;
  }
}
/* 
@media screen and (min-width:1020px) {

    #accueil {

        background-image: url(../../asset/img/photo-accueil.avif);
        background-repeat: no-repeat;
        background-position: center;



    }

    #full-logo {
        width: 15em;
        height: 10em;

    }

    #FFM {
        margin-top: 1em;
        margin-left: 12.5em;
        font-size: 7em;
    }

    #title-description {
        margin-left: 22.5em;
        font-size: 4em;
    }

    .arrow {
        //border: 1px solid red;
        display: flex;
        justify-content: center;
        margin-top: 35em;
    }

    #logo-arrow {
        // border: 1px solid red;
        width: 5em;
        height: 5em;

    }

} *//*# sourceMappingURL=header.css.map */