@use 'header.scss';
@use 'about-us.scss';
@use 'event.scss';
/* @use 'footer.scss';
@use 'welcome-page.scss';
@use 'login-page.scss';
@use 'inscription-page.scss';
@use 'forum-page.scss';
 */

* {
    padding: 0;
    margin: 0;

}



body {
    font-family: "jura", sans-serif;

}