@use 'header.scss';
@use 'about-us.scss';
@use 'event.scss';
@use 'contact-us.scss';
@use 'prop.scss';
@use 'contact-form.scss';
@use 'convention.scss';
@use 'adhesion-form.scss';
@use 'login-form.scss';
@use 'forum.scss';
@use 'discussion.scss';
@use 'gallery.scss';
@use 'volunteer-form.scss';
@use 'agrePhoto.scss';
@use 'add-photo.scss';
@use 'registration-form.scss';
@use 'add-prop.scss';
@use 'profile.scss';
@use 'update-password.scss';
@use 'backoffice.scss';
@use 'backoffice-page.scss';
@use 'footer.scss';
/* @use 'welcome-page.scss';
@use 'login-page.scss';
@use 'inscription-page.scss';
@use 'forum-page.scss'; */

* {
    padding: 0;
    margin: 0;

}



body {
    font-family: "jura", sans-serif;
    overflow-x: hidden;
}