#update-event-section {
    background-image: linear-gradient(to right, #000000, #000000, #341701, #903E02, #FE6B00);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    #page-title {
        margin: 2em;
        font-family: "Kanit", sans-serif;
    }



    #update-event-form {
        background-color: #000000;
        border: 1px solid #341701;
        color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 1em;
        margin: 1em;



        input {
            border-radius: 10px;

        }


        .submit {
            border-radius: 10px;
            width: 70px;
            height: 25px;
            background-color: white;
            border: none;
            padding: 0.2em;
            font-weight: 100;
        }
    }
}


@media screen and (min-width:650px) {
    #update-event-section {


        #page-title {
            margin: 2em;
            font-size: 3em;
        }



        #update-event-form {
            font-size: 2em;

        }
    }
}